/* Landing Page specific styles */
@layer pages {

  .actions {
    display: flex;
    gap: var(--spacing-lg);
    
    & .action {
      flex: 1;
      
      & button {
        inline-size: 100%;
        margin-block-start: var(--spacing-md);
      }
    }
  }
  .card {
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--radius-md);
    padding: var(--spacing-lg);
    
    background-color: #fff;
    
    & h3 {
      text-align: center;
      
      margin-block-end: var(--spacing-md);
      font-size: var(--font-size-subheading);
    }
  }
} 